@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
    font-family: 'Pretendard', sans-serif;
}
/*애니메이션 요소*/

html,body{
    height: 100%;
}

/*버튼 공통 스타일*/
button{
    width: 140px;
    height: 50px;
    border-radius: 40px;
    background-color: #D97652;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-family: Pretendard;
}
/*상단 콘텐츠 시작*/

#intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F2E9D8;
    width: 100%;
    margin-top: 0;
}
#intro .top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 66%;
    height: 110px;
}
.top-bar .logo-image{
    width: 130px;
    height: 40px;
}
.top-bar .elem-wrap{
    display: flex;
    flex-direction: row;
}
.top-nav-elem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 205px;
    height: 20px;
    justify-self: start;
    margin: 21px 0 21px 756px;
}
.top-nav-elem a{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}
.elem-wrap button{
    margin-left: 50px;
    margin-top: 10px;
}
#intro .top-contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#intro .top-contents{
    flex-direction: row;
    justify-content: center;
    width: 66%;
}
.top-contents .contents-wrap{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 400px;
}
.contents-wrap .top-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 40px;
}
.contents-wrap .top-text{
    align-self: start;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
}
.contents-wrap .download-btn-2{
    align-self: start;
    width: 140px;
    height: 50px;
}
.top-img{
    width: 415px;
    height: 766px;
    margin-left:170px;
}
/*상단 콘텐츠 끝*/

/*메인 콘텐츠 시작*/
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}
#main .main-contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main-contents .main-contexts{
    margin-left: 30px;
}
.main-contents .main-image{
    width: 660px;
    height: 390px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px 30px rgba(0,0,0,25%);
    margin: 100px 0;
}
.main-contexts .main-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 30px;
}
.main-contexts .main-texts{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

/*사진 부분*/

#main .photos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photos .photo-txt-wrap{
    width: 100%;
}
.photo-txt-wrap .photos-title{
    color: #D97652;
    font-size: 46px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    margin-bottom: 40px;
}
.photo-txt-wrap .photos-texts{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 90px;
}
.photos-texts span{
    color: #D97652;
    font-weight: 700;
}
.photos .photo-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first-list, .second-list{
    flex-direction: row;
}
.photo-list img{
    height: 378px;
    border-radius: 30px;
    margin: 36px 36px;
    box-shadow: 10px 10px 30px 0 rgba(0,0,0,25%);
}
.photos .add-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    margin-top: 50px;
}
.add-info .add-warp{
    text-align: center;
}
.add-info .add-title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 28px;
}
.add-info::after{
    width: 1278px;
    height: 1px;
    content: '';
    background-color: #C4C4C4;
}

/*info 콘텐츠 시작*/
#info{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000px;
}
#info .map-info{
    height: 800px;
}
#info .info-txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    margin-top: 50px;
}
.info-txt .info-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}
.info-txt p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
#info .subs-info{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1280px;
    height: 200px;
    border-radius: 30px;
    background-color: #263140;
    color: #ffffff;
    z-index: 2;
    gap: 150px;
    top: 900px;
}
.subs-texts .subs-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 25px;
}
.subs-texts .subs-content{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.subs-info .submit{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 530px;
    height: 60px;
    border-radius: 60px;
    background-color: #ffffff;
}
.submit .subs-img{
    width: 20px;
    height: 30px;
    margin-left: 20px;
}
.submit input{
    border: none;
    width: 325px;
    height: 40px;
}
/*info 콘텐츠 끝*/

/*모달*/
#modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
#modal .modal-wrap{
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-block;
}
.modal_wrap .wrap-img{
    border-radius: 30px;
    z-index: 1;
}
.modal-wrap .modal-elem{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 300px;
    z-index: 2;
    top: 80px;
}
.modal-wrap .modal-img{
    width: 110px;
    height: 112px;
}
.modal-elem .modal-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    color: #D97652;
    margin: 20px 0;
}
.modal_elem .modal-txt{
    font-size: 4px;
    font-weight: 400;
    line-height: 18px;
}
.modal-elem .modal-btn{
    width: 183px;
    height: 50px;
    margin-top: 20px;
}

/*하단 콘텐츠 시작*/
#outro{
    position: relative;
    z-index: 1;
}
#outro .outro-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.outro-wrap .bottom-img{
    width: 100%;
}
.outro-wrap .scroll-btn{
    position: absolute;
    z-index: 1;
    top: 65%;
    left: 97%;
    width: 40px;
    height: 40px;
}
.outro-wrap .scroll-btn:hover{
    cursor: pointer;
}
.outro-wrap .bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 66%;
    height:140px;
    gap: 800px;
}
.bottom-bar .logo-image{
    width: 226px;
    height: 70px;
}
.bottom-bar .bottom-nav-elem{
    display: flex;
    justify-content: space-between;
    width: 228px;
    height: 42px;
}
/*하단 콘텐츠  끝*/