html, body{
    height: 100%;
    background-color: #F2E9D8;
}

/*애니메이션 요소*/

/*상단 콘텐츠*/

#intro{
    width: 100%;
    height: 902px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#intro > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro .top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1010px;
    height: 50px;
    margin: 30px 320px;
}

.top-bar .logo-image{
    width: 130px;
    height: 40px;
    margin: 11px 0;
    align-items: center;
}

.top-bar .elem-wrap{
    display: flex;
    flex-direction: row;

}

.elem-wrap button{
    justify-self: end;
    margin-left: 50px;
    margin-top: 10px;
}

.top-nav-elem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 21px 0 21px 756px;
    width: 205px;
    height: 20px;
    /*display: flex;*/
    /*flex-direction: row;*/
    justify-self: start;
}

.top-nav-elem p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

#intro .top-contents{
    display: flex;
    flex-direction: row;

}

#intro .top-contents{
    margin: 0 320px;
    justify-content: space-between;
}

.top-contents .contents-wrap{
    height: 800px;
    align-items: start;
    position: static;
}
.contents-wrap .top-title{
    width: 695px;
    height: 120px;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-top: 200px;
    margin-right: 170px;
}

.top-img{
    width: 415px;
    height: 766px;
    margin-top: 32px;

}
/*메인콘텐츠*/
#main{
    background-color: #ffffff;
}



/*버튼 공통 스타일*/
.download-btn{
    width: 140px;
    height: 50px;
    border-radius: 40px;
    background-color: #D97652;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

/*모달*/

/*하단 콘텐츠*/
#info{
    background-color: #ffffff;
}

.main-image{
    width: 660px;
    height: 390px;
}

.subs-info{
    width: 1280px;
    height: 200px;
    border-radius: 30px;
    background-color: #263140;
    box-sizing: border-box;
    color: #ffffff;
}
